*{
  justify-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
  div{
  width: 450px;
  height: auto;
  background-color: rgb(245, 245, 255);
  margin-bottom: 20px;
  justify-content: center;
  }
  
.type{
  color: gray;
  padding-top: 0;
  margin-top: 0;
  font-size: 12px;
  font-weight: bold;
}

.page{
  background-color: rgb(255, 255, 255);
  padding: 5 5 5 5;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}
h2{
  justify-content: center;
  margin-bottom: 0;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(184, 184, 213);
}
img{
  max-width: 350px;
  height: auto;
  justify-content: center;
}

.date{
  font-size: 14px;
  color: rgb(153, 153, 153);
  margin-top: 0;
  padding-top: 0;
}

li{
  font-size: 16px;
  justify-content: center;
  color:rgb(118, 118, 122)
}